<div class="container__big-card">
    <div class="big-card__img">
        <img
        src="https://cdn.kobo.com/book-images/39f5758d-be8e-4dfd-8395-52092dfb6f49/1200/1200/False/marvel-s-iron-man-3.jpg" 
        alt="" 
        height="200px"
    
        srcset="">
    </div>
    <div class="big-card__title">
       <h1> <a href="">Saiu a nova versão do Angular!</a> </h1> 
    </div>
    <div class="big-card__description">
        <p>
            <a href="">
            Confira as releases!
            </a>
        </p>
    </div>
</div>
